In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

df=pd.read_csv("C:/Users/user/OneDrive/Desktop/TCS FOLDER\HRDataset.csv")

In [2]:
#print the top 5 rows of the imported dataset
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,01-03-2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,02-01-2016,0,2

In [3]:
data=pd.DataFrame(df)
data.head()
data.Employee_Name.value_counts()

Adinolfi, Wilson  K    1
O'hare, Lynn           1
Patronick, Lucas       1
Panjwani, Nina         1
Ozark, Travis          1
                      ..
Gerke, Melisa          1
Gentry, Mildred        1
Gaul, Barbara          1
Garcia, Raul           1
Zima, Colleen          1
Name: Employee_Name, Length: 311, dtype: int64

In [4]:
df_new=data.drop(['EmpID','Employee_Name','MarriedID','MaritalStatusID','ManagerName','ManagerID'], axis=1)
df_new.head()


# In[9]:


dfnew=df_new.drop(['Termd','MaritalDesc','EmpStatusID','FromDiversityJobFairID','MaritalDesc',
                  'HispanicLatino','RaceDesc','DateofHire','DateofTermination','EmploymentStatus',
                   'TermReason'], axis=1)
dfnew.head()


# In[10]:


#checking for null values
dfnew.isnull()


# In[11]:


from datetime import datetime

def calculate_age_from_column(timestamp):
    # Convert the Timestamp object to a string in the format 'YYYY-MM-DD'
    date_str = timestamp.strftime('%Y-%m-%d')

    # Split the date string into year, month, and day components
    year, month, day = map(int, date_str.split('-'))

    # Get the current date
    current_date = datetime.today().date()

    # Create a datetime.date object from the components
    birthdate_obj = datetime(year, month, day).date()

    # Calculate the difference between the current date and birthdate
    age_delta = current_date - birthdate_obj

    # Extract the age in years from the difference
    age_years = age_delta.days // 365

    return age_years


# Convert the 'DOB' column to pandas Timestamp object
dfnew['DOB'] = pd.to_datetime(dfnew['DOB'])

# Apply the function to the 'DOB' column and store the result in a new column 'Age'
dfnew['Age'] = dfnew['DOB'].apply(calculate_age_from_column)

print(dfnew)


# In[12]:


# Convert the 'DOB' column to pandas Timestamp object
dfnew['LastPerformanceReview_Date'] = pd.to_datetime(dfnew['LastPerformanceReview_Date'])

# Apply the function to the 'DOB' column and store the result in a new column 'Age'
dfnew['LPRD_years'] = dfnew['LastPerformanceReview_Date'].apply(calculate_age_from_column)

print(dfnew)


# In[ ]:

     GenderID  DeptID  PerfScoreID  Salary  PositionID  \
0           1       5            4   62506          19
1           1       3            3  104437          27
2           0       5            3   64955          20
3           0       5            3   64991          19
4           0       5            3   50825          19
..        ...     ...          ...     ...         ...
306         1       5            3   65893          20
307         0       5            1   48513          19
308         0       3            4  220450           6
309         0       3            3   89292           9
310         0       5            3   45046          19

                     Position State   Zip        DOB Sex  ...  \
0     Production Technician I    MA  1960 1983-07-10  M   ...
1                     Sr. DBA    MA  2148 1975-05-05  M   ...
2    Production Technician II    MA  1810 1988-09-19   F  ...
3     Production Technician I    MA  1886 1988-09-27   F  ...
4     Production Technician I    MA  2169 1989-09-08   F  ...
..                        ...   ...   ...        ...  ..  ...
306  Production Technician II    MA  1810 1985-05-11  M   ...
307   Production Technician I    MA  2458 1982-05-04   F  ...
308                       CIO    MA  2067 1979-08-30   F  ...
309              Data Analyst    MA  2148 1979-02-24   F  ...
310   Production Technician I    MA  1730 1978-08-17   F  ...

            Department  RecruitmentSource PerformanceScore EngagementSurvey  \
0    Production                  LinkedIn          Exceeds             4.60
1                IT/IS             Indeed      Fully Meets             4.96
2    Production                  LinkedIn      Fully Meets             3.02
3    Production                    Indeed      Fully Meets             4.84
4    Production             Google Search      Fully Meets             5.00
..                 ...                ...              ...              ...
306  Production                  LinkedIn      Fully Meets             4.07
307  Production             Google Search              PIP             3.20
308              IT/IS  Employee Referral          Exceeds             4.60
309              IT/IS  Employee Referral      Fully Meets             5.00
310  Production                  LinkedIn      Fully Meets             4.50

     EmpSatisfaction  SpecialProjectsCount  LastPerformanceReview_Date  \
0                  5                     0                   1/17/2019
1                  3                     6                   2/24/2016
2                  3                     0                   5/15/2012
3                  5                     0                  01-03-2019
4                  4                     0                  02-01-2016
..               ...                   ...                         ...
306                4                     0                   2/28/2019
307                2                     0                  09-02-2015
308                5                     6                   2/21/2019
309                3                     5                  02-01-2019
310                5                     0                   1/30/2019

    DaysLateLast30  Absences  Age
0                0         1   40
1                0        17   48
2                0         3   34
3                0        15   34
4                0         2   34
..             ...       ...  ...
306              0        13   38
307              5         4   41
308              0        16   44
309              0        11   44
310              0         2   45

[311 rows x 21 columns]
     GenderID  DeptID  PerfScoreID  Salary  PositionID  \
0           1       5            4   62506          19
1           1       3            3  104437          27
2           0       5            3   64955          20
3           0       5            3   64991          19
4           0       5            3   50825          19
..        ...     ...          ...     ...         ...
306         1       5            3   65893          20
307         0       5            1   48513          19
308         0       3            4  220450           6
309         0       3            3   89292           9
310         0       5            3   45046          19

                     Position State   Zip        DOB Sex  ...  \
0     Production Technician I    MA  1960 1983-07-10  M   ...
1                     Sr. DBA    MA  2148 1975-05-05  M   ...
2    Production Technician II    MA  1810 1988-09-19   F  ...
3     Production Technician I    MA  1886 1988-09-27   F  ...
4     Production Technician I    MA  2169 1989-09-08   F  ...
..                        ...   ...   ...        ...  ..  ...
306  Production Technician II    MA  1810 1985-05-11  M   ...
307   Production Technician I    MA  2458 1982-05-04   F  ...
308                       CIO    MA  2067 1979-08-30   F  ...
309              Data Analyst    MA  2148 1979-02-24   F  ...
310   Production Technician I    MA  1730 1978-08-17   F  ...

     RecruitmentSource PerformanceScore EngagementSurvey EmpSatisfaction  \
0             LinkedIn          Exceeds             4.60               5
1               Indeed      Fully Meets             4.96               3
2             LinkedIn      Fully Meets             3.02               3
3               Indeed      Fully Meets             4.84               5
4        Google Search      Fully Meets             5.00               4
..                 ...              ...              ...             ...
306           LinkedIn      Fully Meets             4.07               4
307      Google Search              PIP             3.20               2
308  Employee Referral          Exceeds             4.60               5
309  Employee Referral      Fully Meets             5.00               3
310           LinkedIn      Fully Meets             4.50               5

     SpecialProjectsCount  LastPerformanceReview_Date  DaysLateLast30  \
0                       0                  2019-01-17               0
1                       6                  2016-02-24               0
2                       0                  2012-05-15               0
3                       0                  2019-01-03               0
4                       0                  2016-02-01               0
..                    ...                         ...             ...
306                     0                  2019-02-28               0
307                     0                  2015-09-02               5
308                     6                  2019-02-21               0
309                     5                  2019-02-01               0
310                     0                  2019-01-30               0

    Absences  Age  LPRD_years
0          1   40           4
1         17   48           7
2          3   34          11
3         15   34           4
4          2   34           7
..       ...  ...         ...
306       13   38           4
307        4   41           8
308       16   44           4
309       11   44           4
310        2   45           4

[311 rows x 22 columns]

In [7]:
dfnew.to_csv("C:/Users/user/OneDrive/Desktop/TCS FOLDER/TCS INTERNSHIP.csv")